<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="00-Rover_Lidar_Assembly.SLDASM">
  <link
    name="Base">
    <inertial>
      <origin
        xyz="-0.012819 -0.01867 0.19893"
        rpy="0 0 0" />
      <mass
        value="0.60436" />
      <inertia
        ixx="0.0012842"
        ixy="-7.8731E-07"
        ixz="-3.6231E-06"
        iyy="0.001592"
        iyz="2.0735E-07"
        izz="0.0027161" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Base.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Wheel_FR">
    <inertial>
      <origin
        xyz="0.0038039 1.5099E-10 -1.4017E-10"
        rpy="0 0 0" />
      <mass
        value="0.47503" />
      <inertia
        ixx="0.00087174"
        ixy="1.0142E-12"
        ixz="5.9746E-13"
        iyy="0.00058198"
        iyz="4.7881E-12"
        izz="0.00058198" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_FR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_FR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_FR"
    type="revolute">
    <origin
      xyz="0.086547 -0.182 -0.15755"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Base" />
    <child
      link="Wheel_FR" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Wheel_FL">
    <inertial>
      <origin
        xyz="0.0038039 1.5099E-10 -1.4017E-10"
        rpy="0 0 0" />
      <mass
        value="0.47503" />
      <inertia
        ixx="0.00087174"
        ixy="1.0142E-12"
        ixz="5.9746E-13"
        iyy="0.00058198"
        iyz="4.7881E-12"
        izz="0.00058198" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_FL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_FL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_FL"
    type="revolute">
    <origin
      xyz="0.086547 -0.182 0.12045"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Base" />
    <child
      link="Wheel_FL" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Wheel_BR">
    <inertial>
      <origin
        xyz="0.0038039 1.5099E-10 -1.4017E-10"
        rpy="0 0 0" />
      <mass
        value="0.47503" />
      <inertia
        ixx="0.00087174"
        ixy="1.0142E-12"
        ixz="5.9746E-13"
        iyy="0.00058198"
        iyz="4.7881E-12"
        izz="0.00058198" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_BR.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_BR.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_BR"
    type="revolute">
    <origin
      xyz="-0.10845 -0.182 -0.15755"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Base" />
    <child
      link="Wheel_BR" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Wheel_BL">
    <inertial>
      <origin
        xyz="0.0038039 1.5099E-10 -1.4017E-10"
        rpy="0 0 0" />
      <mass
        value="0.47503" />
      <inertia
        ixx="0.00087174"
        ixy="1.0142E-12"
        ixz="5.9746E-13"
        iyy="0.00058198"
        iyz="4.7881E-12"
        izz="0.00058198" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_BL.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://00-Rover_Lidar_Assembly.SLDASM/meshes/Wheel_BL.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Wheel_BL"
    type="revolute">
    <origin
      xyz="-0.10845 -0.182 0.12045"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="Base" />
    <child
      link="Wheel_BL" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>